* {
  padding: 0;
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.5;
}

body {
  background-color: rgb(202, 202, 202);
}

.container {
  margin-left: 1%;
  margin-top: 1%;
}

h2 {
  margin-top: 1%;
}

h3 {
  margin-top: 1%;
}

p,
button,
input {
  font-size: 1.5rem;
}

button {
  margin-right: 10px;
  padding: 0 0.3em;
}

li {
  display: flex;
}

.color {
  font-style: italic;
  color: rgb(53, 53, 53);
}

.flex {
  display: flex;
  gap: 0.5rem;
}

#outdoorCheecker {
  width: 25px;
}

/*Overlay styling*/
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);

  display: none;

  justify-content: center;
  align-items: center;
}

.overlay-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
}

/* Overlay active */
.overlay.show {
  display: flex;
}
