* {
  padding: 0;
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.5;
}

body {
  background-color: rgb(110, 110, 110);
}

p,
button,
input {
  font-size: 1.5rem;
}

li {
  display: flex;
}

.tester {
  font-style: italic;
  color: rgb(221, 140, 140);
}

/*Overlay styling*/
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);

  display: none;

  justify-content: center;
  align-items: center;
}

.overlay-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
}

/* når overlayet er aktivt */
.overlay.show {
  display: flex;
}
